@{
    ViewData["Title"] = "News";
}

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <h4 class="page-title">News</h4>
            <ul>
                @foreach(var item in Model)
                {
                    <li>
                        <span>@item.Title</span>
                        <span>@item.Text</span>
                        <span>@item.Date.ToString("yyyy.MM.dd HH:mm")</span>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
<!-- end page title -->