@using TimeTracker.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


<li class="dropdown notification-list">

    @if (SignInManager.IsSignedIn(User))
    {

        <a class="nav-link dropdown-toggle nav-user arrow-none me-0" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false"
           aria-expanded="false">
            <span class="account-user-avatar">
                <img src="https://www.pngall.com/wp-content/uploads/5/Profile-PNG-Images.png" alt="user-image" class="rounded-circle">
            </span>
            <span>
                <span class="account-user-name">
                    @User.Identity?.Name
                </span>
                <span class="account-position">Customer</span>
            </span>
        </a>
        <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated topbar-dropdown-menu profile-dropdown">
            
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Manage/Index">
                <button type="submit" class="dropdown-item notify-item">My Account</button>
            </form>

                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="dropdown-item notify-item">Logout</button>
                </form>
        </div>
    }
    else
    {
        <a class="nav-link dropdown-toggle nav-user arrow-none me-0" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false"
           aria-expanded="false">
            <span class="account-user-avatar">
                <img src="https://www.pngall.com/wp-content/uploads/5/Profile-PNG-Images.png" alt="user-image" class="rounded-circle">
            </span>
            <span>
                <span class="account-user-name">
                    <span class="account-user-name">Guest</span>
                    <span class="account-position">Unknown</span>
                </span>
            </span>
        </a>
        <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated topbar-dropdown-menu profile-dropdown">

            <form class="form-inline" asp-area="Identity" asp-page="/Account/Login">
                <button type="submit" class="dropdown-item notify-item">Login</button>
            </form>

            <form class="form-inline" asp-area="Identity" asp-page="/Account/Register">
                <button type="submit" class="dropdown-item notify-item">Register</button>
            </form>
        </div>

    }


    
</li>